main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 120px;
    >h2 {
        font-size: 60px;
        color: #9f0908;
        margin-bottom: 64px;
    }
    >div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        margin-left: 160px;
        margin-right: 160px;
        width: calc(100% - 320px);
        >div {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            p {
                width: 100%;
                text-align: center;
                white-space: normal;
                word-break: break-word;
                font-size: 35px;
            }

            img {
                width: 150px;
            }
        }
    }
}