<main>
    <h2>HOW TO ORDER</h2>
    <div class="introduction">
        <div class="first">
            <img src="./assets/img/2_section_how_to_order/SVG/noodle.svg" alt="noodleImg">
            <p>Pick your<br>noodle</p>
        </div>
        <div class="second">
            <img src="./assets/img/2_section_how_to_order/SVG/broth.svg" alt="brothImg">
            <p>Pick your<br>broth</p>
        </div>
        <div class="third">
            <img src="./assets/img/2_section_how_to_order/SVG/egg.svg" alt="toppingsIcon">
            <p>Add your<br>toppings</p>
        </div>
    </div>
</main>