/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
}

body {
    height: 100vh;
    width: 100%;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    src: url('./assets/fonts/Raleway/Raleway-VariableFont_wght.ttf');
}

.fontRaleway {
    font-family: 'Raleway', sans-serif;
}