<menu>
    <h2>OUR MENU</h2>
    <div class="menu-cart">
        <img src="./assets/img/3_section_our_menu/Png/R1.png" alt="tonkatsu-ramen">
        <table>
            <tr>
                <th class="headline-dishes">Tonkatsu Ramen</th>
            </tr>
            <tr>
                <td class="dish">CHICKEN</td>
                <td class="dish">11.95€</td>
            </tr>
            <tr>
                <td class="dish">BEEF</td>
                <td class="dish">12.95€</td>
            </tr>
            <tr>
                <td class="dish">SHRIMP</td>
                <td class="dish">13.95€</td>
            </tr>
        </table>
    </div>
    <div class="menu-cart middle">
        <table>
            <tr>
                <th class="headline-dishes">Spicy Miso Ramen</th>
            </tr>
            <tr>
                <td class="dish">CHICKEN</td>
                <td class="dish">11.95€</td>
            </tr>
            <tr>
                <td class="dish">BEEF</td>
                <td class="dish">12.95€</td>
            </tr>
            <tr>
                <td class="dish">SHRIMP</td>
                <td class="dish">13.95€</td>
            </tr>
        </table>
        <img src="./assets/img/3_section_our_menu/Png/R2.png" alt="spicy-miso-ramen">
    </div>
    <div class="menu-cart">
        <img src="./assets/img/3_section_our_menu/Png/R3.png" alt="shio-ramen">
        <table>
            <tr>
                <th class="headline-dishes">Shio Ramen</th>
            </tr>
            <tr>
                <td class="dish">CHICKEN</td>
                <td class="dish">11.95€</td>
            </tr>
            <tr>
                <td class="dish">BEEF</td>
                <td class="dish">12.95€</td>
            </tr>
            <tr>
                <td class="dish">SHRIMP</td>
                <td class="dish">13.95€</td>
            </tr>
        </table>
    </div>
</menu>